<!-- STICKY HEADER  -->
<div class="classy-top-container">
  <h2>Add parameters to your students.</h1>
</div>

<div class="header" id="student-header">
<div class="classy-sticky-content">
<%= button_to 'Submit for sort', sortbutton_path, method: :post %>
<div class="classy-sticky-list">
  <ul>
<li>Medical alert</li>
<li>ESL</li>
<li>Gifted & Talented</li>
<li>SPED</li>
</ul>
</div>
</div>
</div>


<!-- STUDENT CARD  -->
<div class="container m-auto">
  <% @students.each  do |student| %>
  <div class="student-card-container">
    <div class="student-card d-flex  flex-grow-1 justify-content-around">
        <img class="avatar-large" alt="avatar-large" src="https://cdn.dribbble.com/users/458522/screenshots/2700102/cute_monster_3_rgb_dribbbler.jpg" />
        <p>#<%= student.schoolID %></p>
        <div class="student-info">
          <!-- student information container -->
          <div class="student ml-3">
            <p><%= student.first_name %><%= @student.last_name %></p>
            <p><%= student.birthday %></p>
            <p><%= student.gender.capitalize %></p>
          </div>
        </div>
        <!-- /student information container -->
        <div class="special-icons">
          <%= simple_form_for @student do |f| %>
            <%= f.error_notification %>
              <div class="spacearound-checkbox">
                <div class="d-flex">
                  <div class="mr-5">
                    <%= f.input :esl, label: false %>
                  </div>
                  <div class="mr-5">
                    <%= f.input :gifted_talented, label: false %>
                  </div>
                  <div class="mr-5">
                    <%= f.input :special_education, label: false %>
                  </div>
                  <div class="mr-5">
                    <%= f.input :medical_alert, label: false %>
                  </div>
                </div>
              </div>
            <%#= f.input :notes %>
          <% end %>
        </div>
          <%= simple_form_for @do_not_place do |f| %>
            <div class="do-not-place">
              <%= f.error_notification %>
              <%= f.association :student_two, label: false, collection: student.grade.students.map { |student| [student.first_name, student.id] } %>
            </div>
          <% end %>
          <!-- <div class="dnp-display border w-100 h-100">
            <%# student.do_not_places.each do |dnp| %>
              <p class="dnp badge badge-danger">
              <%#= dnp.first_name %>
              </p>
            <%# end %>
          </div> -->
          <div id="view-dropdown">
            <div class="yellow-btn">View Note</div>
          </div>
    </div>
    <div class="dropdown-card">
        <div class="mr-3 ml-4 w-50">
          <div class="student-content">
          Leave a note
          <%= simple_form_for @student do |f| %>
            <%= f.error_notification %>
            <%= f.input :notes, input_html: {class: "h-100 w-100"}, label: false, placeholder: "Notes" %>
          <% end %>
          </div>
        </div>
        <div class="mr-3 ml-4 w-25">
          <div class="student-content">
            Assign to
            <%= simple_form_for @teacher_lock do |f| %>
              <%= f.error_notification %>
              <%= f.association :teacher,
                    label: false,
                    collection: Teacher.all.map {|teacher| [teacher.teacher_name, teacher.id]} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<!-- /STUDENT CARD  -->


