<div class="students-header-container">
  <div class="classy-students-header">
    <div class="classy-content-header">
      <h1> Welcome
        <%= current_teacher.teacher_name %>! </h1>
      <p>Please update your students' information to ensure best results.</p>
    </div>
  </div>
</div>
<!-- View students tabs -->
<ul class="nav nav-tabs student-tab-container">
  <li class="nav-item student-tab">
    <a class="nav-link student-nav-link" href="#">My Students</a>
  </li>
  <!-- need to add an "active" status class -->
  <li class="nav-item student-tab">
    <a class="nav-link student-nav-link" href="#">View All Students</a>
  </li>
</ul>
<!-- STICKY HEADER  -->
<div class="wrapper" id="header-container-sticky">
  <div class="container">
  <div class="sticky-header-container" >
  <div class="header" id="student-header">
    <!--  <div class="classy-sticky-button"> -->
    <div class="save-btn">
      <%= button_to "Save and Submit", sortbutton_path, method: :post, class: "yellow-btn sticky-save-btn" %>
    </div>
    <div class="icon-text">ESL</div>
    <div class="icon-text">Gifted & Talented</div>
    <div class="icon-text">SPED</div>
    <div class="icon-text">Medical Alert</div>
    <div class="show-notes-btn">
      <div class="yellow-btn expand-view">
        Show All Notes
      </div>
    </div>
    <!--   </div> -->
  </div>
</div>
</div>
</div>
<!-- STUDENT CARD  -->
<div class="section-student-cards">
  <div class="container m-auto container-student-cards">
    <% @mystudents.each  do |student| %>
    <div class="student-card-container">
      <div class="student-card d-flex  flex-grow-1 justify-content-around">
        <img class="avatar-large" alt="avatar-large" src="<%= student.photo %>" />
        <div class="student-name">
          <p>
            <%= student.first_name %>
          </p>
          <p>
            <%= student.last_name %>
          </p>
        </div>
        <div class="empty-placeholder">
          <p>#
            <%= student.schoolID %>
          </p>
          <p>
            <%= student.birthday %>
          </p>
          <p>
            <%= student.gender.capitalize %>
          </p>
        </div>
        <div class="checkbox-icons">
          <%= simple_form_for student, html: { class: "checkform"}, remote: true do |f| %>
          <%= f.error_notification %>
          <div class="d-flex">
            <%= f.input :esl, input_html: {id: "student_esl_#{student.id}"}, label: '<div class="first-layer"><i class="fas fa-square" style="font-size: 32px"></i><div class="second-layer-americas"><i class="fas fa-globe-americas"></i></div></div>'.html_safe %>
            <%= f.input :gifted_talented, input_html: {id: "student_gifted_talented_#{student.id}"}, label: '<div class="first-layer"><i class="fas fa-square" style="font-size: 32px"></i><div class="second-layer-wizard"><i class="fas fa-hat-wizard"></i></div></div>'.html_safe %>
            <%= f.input :special_education, input_html: {id: "student_special_education_#{student.id}"}, label: '<div class="first-layer"><i class="fas fa-square" style="font-size: 32px"></i><div class="second-layer-star"><i class="fas fa-star" style="left: 18%;"></i></div></div>'.html_safe %>
            <%= f.input :medical_alert, input_html: {id: "student_medical_alert_#{student.id}"}, label: '<div class="first-layer"><i class="fas fa-square" style="font-size: 32px"></i><div class="second-layer-plus"><i class="fas fa-plus-square"></i></div></div>'.html_safe %>
            <!-- <#%= f.submit as: :hidden %> -->
          </div>
          <%#= f.input :notes %>
        </div>
        <!-- insert checkbox here -->
        <!-- /insert checkbox here -->
        <%= simple_form_for @do_not_place do |f| %>
        <% end %>
        <%= simple_form_for @do_not_place, html: { class: "selectdnp"}, remote: true do |f| %>
        <div class="do-not-place">
          Do Not Place With
          <%= f.error_notification %>
          <%= f.input :student_one_id, input_html: { value: student.id }, as: :hidden %>
          <%= f.association :student_two, label: false, collection: @grade.students.map { |student| [student.first_name, student.id] }%>
          <!-- <#%= f.submit as: :hidden %> -->
        </div>
        <% end %>
        <!-- <div class="dnp-display border w-100 h-100">
            <%# student.do_not_places.each do |dnp| %>
              <p class="dnp badge badge-danger">
              <%#= dnp.first_name %>
              </p>
            <%# end %>
          </div> -->
        <div id="view-dropdown">
          <i class="fas fa-chevron-down"></i>
        </div>
      </div>
      <div class="dropdown-card">
        <div class="mr-3 ml-4 w-50">
          <div class="student-content">
            Leave a note
            <%= simple_form_for student, html: { class: "notesform"},  remote: true do |f| %>
            <%= f.error_notification %>
            <%= f.input :notes, input_html: {class: "h-100 w-100"}, label: false, placeholder: "Notes" %>
            <!-- <#%= f.submit as: :hidden %> -->
            <% end %>
          </div>
        </div>
        <div class="mr-3 ml-4 w-25">
          <div class="student-content">
            Assign to
            <%= simple_form_for @teacher_lock, html: { class: "teacherform"},  remote: true do |f| %>
            <%= f.error_notification %>
            <%= f.input :student_id, input_html: { value: student.id }, as: :hidden %>
            <%= f.association :teacher,
                    label: false,
                    collection: @nextgradeteachers.map {|teacher| [teacher.teacher_name, teacher.id]} %>
            <!-- <#%= f.submit as: :hidden %> -->
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
