<!-- STICKY HEADER  -->

<div class="classy-students-header">
  <div class="classy-content-header">
    <div class="student-banner">
       <h1>  Welcome <%= current_teacher.teacher_name %>! </h1>
       <p>Please update your students' information to ensure best results.</p>
    </div>
  </div>
</div>
<div class="header" id="student-header">
<div class="classy-sticky-button">
  <div class="d-flex">
    <div class="blue-btn" style="margin-right: 5px; margin-bottom: 30px;">
      <div class="expand-view">
    View All Notes
      </div>
    </div>
    <%= button_to "Save and sort", sortbutton_path, method: :post, class: "blue-btn" %>
    </div>
  </div>
</div>

<!-- STUDENT CARD  -->
<div class="container m-auto">

  <% @mystudents.each  do |student| %>

  <div class="student-card-container">
    <div class="student-card d-flex  flex-grow-1 justify-content-around">
        <img class="avatar-large" alt="avatar-large" src="<%= student.photo %>" />
        <div class="student-name">
          <p><%= student.first_name %></p>
          <p><%= student.last_name %></p>
        </div>
        <div class="empty-placeholder">
          <p>#<%= student.schoolID %></p>
          <p><%= student.birthday %></p>
          <p><%= student.gender.capitalize %></p>
        </div>
        <div class="checkbox-icons">
          <%= simple_form_for student, html: { class: "checkform"}, remote: true do |f| %>
            <%= f.error_notification %>
                <div class="d-flex">
                    <%= f.input :esl, input_html: {id: "student_esl_#{student.id}"}, label: '<i class="fas fa-globe-americas"></i>'.html_safe %>
                    <%= f.input :gifted_talented, input_html: {id: "student_gifted_talented_#{student.id}"}, label: '<i class="fas fa-hat-wizard"></i>'.html_safe %>
                    <%= f.input :special_education, input_html: {id: "student_special_education_#{student.id}"}, label: '<i class="fas fa-star"></i>'.html_safe %>
                    <%= f.input :medical_alert, input_html: {id: "student_medical_alert_#{student.id}"}, label: '<i class="fas fa-plus-square"></i>'.html_safe %>
                   <!-- <#%= f.submit as: :hidden %> -->
                </div>

            <%#= f.input :notes %>
        </div>
        <!-- insert checkbox here -->
        <!-- /insert checkbox here -->
          <%= simple_form_for @do_not_place do |f| %>

          <% end %>
          <%= simple_form_for @do_not_place, html: { class: "selectdnp"}, remote: true do |f| %>

            <div class="do-not-place">
              <%= f.error_notification %>
              <%= f.input :student_one_id, input_html: { value: student.id }, as: :hidden %>
              <%= f.association :student_two, label: false, collection: @grade.students.map { |student| [student.first_name, student.id] }%>
              <!-- <#%= f.submit as: :hidden %> -->
            </div>
          <% end %>
          <!-- <div class="dnp-display border w-100 h-100">
            <%# student.do_not_places.each do |dnp| %>
              <p class="dnp badge badge-danger">
              <%#= dnp.first_name %>
              </p>
            <%# end %>
          </div> -->
          <div id="view-dropdown">
            <i class="fas fa-chevron-down"></i>
          </div>
    </div>
    <div class="dropdown-card">
        <div class="mr-3 ml-4 w-50">
          <div class="student-content">
          Leave a note
          <%= simple_form_for student, html: { class: "notesform"},  remote: true do |f| %>
            <%= f.error_notification %>
            <%= f.input :notes, input_html: {class: "h-100 w-100"}, label: false, placeholder: "Notes" %>
            <!-- <#%= f.submit as: :hidden %> -->
          <% end %>
          </div>
        </div>
        <div class="mr-3 ml-4 w-25">
          <div class="student-content">
            Assign to
            <%= simple_form_for @teacher_lock, html: { class: "teacherform"},  remote: true do |f| %>
              <%= f.error_notification %>
              <%= f.input :student_id, input_html: { value: student.id }, as: :hidden %>
              <%= f.association :teacher,
                    label: false,
                    collection: @teachers.map {|teacher| [teacher.teacher_name, teacher.id]} %>
              <!-- <#%= f.submit as: :hidden %> -->
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
</div>
</div>



