<!-- Image and text -->
<nav class="classy-nav-bar">
      <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag("classy_logo.png", class: "navbar-logo", id: "navbar-logo") %>
      <% end %>
    <%# </div> %>
    <ul>
      <% if teacher_signed_in? %>
      <!-- <div class="nav-links"> -->
       <li><a class="nav-item">
          <%= link_to "Students", "/students" %>
        </a></li>
        <li><a class="nav-item">
          <%= link_to "Classrooms", "/classrooms"%>
        </a></li>
        </ul>
        <% else %>
        <button type="button" class="btn btn-lg login-btn"> 
          <%= link_to "Login", new_teacher_session_path %></button>
        <% end %>
</nav>

