<% @nextgradeteachers.each do |teacher| %>
  <div class="teacher-column">
    <div class="classroom-card-teacher">
      <div class="teacher-image-card"><img src="" alt=""></div>
        <div class="teacher-name">
          <%= teacher.teacher_name %>
          <h4 class="ajax-teacher" id="number-of-students-of-teacher-<%= teacher.id %>">
            <span class="student-count" data-classroom-id="<%= teacher.classroom.id %>"><%= teacher.classroom.students.count %></span> students</h4>
         </div>
        <div class="classroom-info-container" data-classroom-id="<%= teacher.classroom.id %>">
          <%= render "shared/classroom_info", teacher: teacher %>
        </div>
    </div>
  </div>
<% end %>


