<header style="background:transparent !important" class="classy-banner jumbotron jumbotron-fluid">
    <div style="display: flex;">
        <div class="container-fluid text-left">
            <div class="tagline">
                <h1 class="display-3">Classy</h1>
                <p class="lead pb-2">Manage class lists more effectively </p>
                <!-- <p><a href="#" class="blue-btn" role="button">View My Students</a></p> -->



    <div class="blue-btn">
      <%= link_to 'View My Students', students_path, class: 'view-list-text'%>
    </div>


            </div>
        </div>
        <div class="container-fluid text-right"><%= image_tag "HeroImage.jpg", class: "img-fluid", alt: "hero image"%></div>
    </div>
</header>
<div id="container-sub-banner" class="container-fluid">
    <div class="sub-banner classy-sub-banner mt-3 text-center">
        <h3>Teachers can focus on what matters most.</h3>
        <div id="row-cards" class="row justify-content-center">
            <div class="col-sm-3">
                <div class="card  h-100">
                    <a class="classy-card-img card-img-top" alt="Card image cap">
                        <%= image_tag("hourglass.png") %>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title classy-card-title">Save Time</h5>
                        <p class="card-text">Create your class lists in less time than ever before.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card h-100">
                    <a class=" classy-card-img card-img-top" alt="Card image cap">
                        <%= image_tag("game-controller.png") %>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title classy-card-title">Retain Control</h5>
                        <p class="card-text">Let Classy sort students for you.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card h-100">
                    <a class="classy-card-img card-img-top" alt="Card image cap">
                        <%= image_tag("tap.png") %>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title classy-card-title">Simplify the Process</h5>
                        <p class="card-text">Ensure that all students and their needs are met.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-row classy-bottom-container">

    <div class="classy-ul-list">
        <ul>
            <div class="p-2">
                <li>Sorts students for you.</li>
            </div>
            <div class="p-2">
                <li>Helps you balance your classes.</li>
            </div>
            <div class="p-2">
                <li>Saves educators time.</li>
            </div>
        </ul>
    </div>
    <div class="classy-ul-list">
        <ul>
            <div class="p-2">
                <li>Streamlines the process.</li>
            </div>
            <div class="p-2">
                <li>Easily create and edit.</li>
            </div>
            <div class="p-2">
                <li>User friendly interface.</li>
            </div>
        </ul>
    </div>
</div>
