<header style="background:transparent !important" class="classy-banner jumbotron jumbotron-fluid">
    <div style="display: flex;">
        <div class="container-fluid text-left">
            <div class="tagline">
                <h1 class="display-3">Classy</h1>
                <p class="lead pb-2">Manage class lists more effectively </p>




    <div class="landingviewstudents-btn grow">
      <%= link_to 'View My Students', students_path, class: 'view-list-text'%>
    </div>


            </div>
        </div>
        <div class="container-fluid text-right"><%= image_tag "HeroImage.jpg", class: "img-fluid", alt: "hero image"%></div>
    </div>
</header>
<div id="container-sub-banner" class="container-fluid">
    <div class="sub-banner classy-sub-banner mt-3 text-center">
        <h3>Teachers can focus on what matters most.</h3>
        <div id="row-cards" class="row justify-content-center">
            <div class="col-sm-3">
                <div class="card  h-100">
                    <a class="classy-card-img card-img-top" alt="Card image cap">
                        <%= image_tag("hourglass.png") %>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title classy-card-title">Save Time</h5>
                        <p class="card-text">Create your class lists in less time than ever before.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card h-100">
                    <a class=" classy-card-img card-img-top" alt="Card image cap">
                        <%= image_tag("game-controller.png") %>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title classy-card-title">Retain Control</h5>
                        <p class="card-text">Let Classy sort students for you.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card h-100">
                    <a class="classy-card-img card-img-top" alt="Card image cap">
                        <%= image_tag("tap.png") %>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title classy-card-title">Simplify the Process</h5>
                        <p class="card-text">Ensure that all students and their needs are met.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-row classy-bottom-container">


<div style="position: relative; left: 0; top: 0;">
    <%= image_tag "Picture1.png", class: "img-fluid demopicture", alt: "Classy Demo Picture"%>
    <iframe width="756" height="425.25" src="https://www.youtube.com/embed/xCwz9o7SlZU" class="demovideo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


</div>

